footer {
    background-color: #323544;
    color: #fff;
    padding: 30px 0 0;
    position: relative;

    .footer-row {
        display: flex;
        flex-wrap: wrap;

        .footer-menu {   
            flex: 100%;   
            margin-bottom: 30px;
           
            @media (min-width: 768px) {
               flex: 50%;
            }

            @media (min-width: 992px) {
               flex: 25%;
            }

            @media (min-width: 1260px) {
               margin-bottom: 40px;
            }

            h4 {
                text-transform: uppercase;
                font-size: 1rem;
                margin-bottom: 26px;	
            }
       }	  
    }
}