footer {
    background-color: $bgcolor;
    color: #fff;
    padding: 30px 0 0;
    position: relative;

    .footer-row {
        display: flex;
        flex-wrap: wrap;

        .footer-menu {   
            flex: 100%;   
            margin-bottom: 30px;
           
            @media (min-width: 768px) {
               flex: 50%;
            }

            @media (min-width: 992px) {
               flex: 25%;
            }

            @media (min-width: 1260px) {
               margin-bottom: 40px;
            }

            h4 {
                text-transform: uppercase;
                font-weight:400;
                font-size: 1rem;
                margin-top: 0px;
                margin-bottom: 26px;
            }
            ul{
                list-style-type:none;
                padding:0px;
                margin:0px;
                li{

                    font-size:.8125rem;
                    line-height:1.375rem;

                    a{
                        text-decoration: none;
                        color:white;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
       }	  
    }
}