body {
    margin: 0;
}

* {
box-sizing: border-box;
}

.hide{
    display:none;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    @include break(s) {
         width: 750px;
    }

    @include break(m) {
        width: 970px;
    }

    @include break(l) {
        width: 1200px;
    }

}

[class^="btn-"]{

    padding:10px 30px;
    border-radius:6px;
    background-color: black;
    color:#fff;
    text-decoration:none;
    line-height:34px;

}
.icon-arrow-right{

    height:20px;
    line-height:20px;
    padding-left:12px;
    &:before{
        content:"\ea3c";
        font-size:1.25rem;
    }    
}